<h1>TODO LIST</h1>
<div class="container">

  <div class="input">
    <label>Todo:</label>
    <input pInputText [(ngModel)]="newTask" [disabled]="editIndex !== null" />
    <p-button label="Submit" (click)="addTask()" [disabled]="!newTask" class="p-button-raised"></p-button>
  </div>

  <div class="output" *ngIf="tasks.length > 0">
    <table>
      <thead>
        <tr>
          <th style="width: 300px;">Task</th> 
          <th style="width: 100px;">Edit</th> 
          <th style="width: 100px;">Delete</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index">
          <td *ngIf="editIndex !== i">
            {{ task }}
          </td>
          <td *ngIf="editIndex === i">
            <input pInputText [(ngModel)]="editedTask" />
          </td>
          <td>
            <div *ngIf="editIndex !== i">
              <p-button label="Edit" (click)="Edit(i)" class="p-button-raised"></p-button>
            </div>
            <div *ngIf="editIndex === i">
              <p-button label="Update" (click)="SubmitEdit(i)" class="p-button-raised"></p-button>
            </div>
          </td>
          <td>
            <p-button label="Delete" (click)="Delete(i)" class="p-button-raised"></p-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p *ngIf="tasks.length === 0">No tasks yet.</p>
</div>
