.container{
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10px;
    background-color: #a8abbd;
    font-weight:600;
   
}
.todobox{
    padding: 29px;
    margin-left: 19%;
   
}
.content{
    padding:10px;
    border-radius:10px;
    padding: 10px;
    font-weight:600;
    font-size: x-large;
    
}
input {
    padding:10px;
    border-radius:10px;
    font-weight:600;
  }
  button{
    padding:10px;
    border-radius:10px;
    font-weight:600;
    background-color:#3F51B5;
    color:#fff;
  
  }
  .validator{
 margin-left: 86px;
    color: red;
  }
  label{
    font-weight:600;
    font-size: x-large;
  }
  h1{
    text-align: center;
  }
  
  .add{
    margin-left: 7px;
  }
  .container1{
    width:100%;
    height: 100%;
  }

 .edit{
  margin-left: 450px;
 }